<div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
      <br><br>
      <div class="row center">
        <h1>LacerMarket</h1>
        <h5>Vendi e acquista contenuti digitali</h5>
      </div>
      <div class="row center">
        <%= link_to "Vai a contenuti", contents_path, class: "btn red btn-large" %>
      </div>
      <br><br>

    </div>
    <div class="parallax"><%= image_tag("home.jpeg") %></div>
  </div>