<div class="center">
  <div class="row">
    <h2 class="home-subtitle">Il negozio online di contenuti digitali</h2>
    <div class="col s12 m4">
      <i class="material-icons medium blue-grey-text text-darken-3">library_books</i>
      <h5>Scopri contenuti unici</h5>
      <p>Scegli tra i formati disponibili il documento che stai cercando</p>
    </div>
    <div class="col s12 m4">
      <i class="material-icons medium blue-grey-text text-darken-3">motorcycle</i>
      <h5>Acquista velocemente</h5>
      <p>Scegli il prodotto che ti interessa e in pochi secondi potrai iniziare ad utilizzarlo</p>
    </div>
    <div class="col s12 m4">
      <i class="material-icons medium blue-grey-text text-darken-3">library_add</i>
      <h5>Vendi i tuoi contenuti</h5>
      <p>Hai documenti che vorresti vendere? Aggiungili alla libreria e inizia a guadagnare!</p>
    </div>
  </div>
</div>
