@import "materialize";
@import "font-awesome-sprockets";
@import "font-awesome";

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    font-family: 'Raleway', sans-serif;
  }

  h1 {
  	font-size: 3.5em;
  }

  h2 {
    font-size: 2em;
  }

  h4 {
    font-size: 1.2em;
  }

  main {
    flex: 1 0 auto;
  }

  .home-subtitle {
    margin: 5% 0 5% 0;
  }

  .content-show {
    margin-top: 5%;
  }

  .dropdown-content {
    min-width: 150px;
  }

 .btn-devise {
 	width: 100%;
 }

 .show-img {
 	padding-right: 5%;
 }

 .show-titolo {
 	margin-top: 0;
 	font-size: 3.4em;
 }

 .show-prezzo {
 	font-size: 2em;
 }

.btn-form {
	width: 100%;
}

.card-image {
  height: 150px;
}

.fa-social {
  padding: 0 10px;
}

@media (max-width: 600px) {
  .fa-social {
  padding: 0 10%;
  }
}
      