<footer class="page-footer blue-grey darken-2 center">
  <div class="footer-copyright">
    <div class="container">
      <div class="row">
        <div class="col s4">
          © 2015 Lacerba.io
        </div>
        <div class="col s4">
          <a href="http://facebook.com/lacerba.io" target="_blank"><i class="fa-social fa fa-facebook fa-2x white-text"></i></a>
          <a href="http://twitter.com/lacerba_io" target="_blank"><i class="fa-social fa fa-twitter fa-2x white-text"></i></a>
        </div>
        <div class="col s4">
          <%= link_to "About", about_path, class: "grey-text text-lighten-4 right" %>
        </div>
      </div>
    </div>
  </div>
</footer>