<footer class="page-footer blue-grey darken-2">
  <div class="footer-copyright">
    <div class="container">
      <div class="row">
        <div class="col s4">
          © 2015 Lacerba.io
        </div>
        <div class="col s4">
          Social
        </div>
        <div class="col s4">
          <%= link_to "About", about_path, class: "grey-text text-lighten-4 right" %>
        </div>
      </div>
    </div>
  </div>
</footer>